$blue-color: #3DB5E9;
$purple-color: #3DB5E9;
$white-color: #3DB5E9;
$black-color: #000000;

$color1: #C5D7F0;
$color2: #A0CCE2;
$color3: #6BB9E1;
$color4: #2d75a6;
$color5: #35468A;
$color6: #28B6EA;
$color7: #146A86;
$color8: #000000;
$color9: #ffffff;
$color10: #9DC8DE;
$color11: #E6E6FA;
$color12: #a9acae;

