<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 footer">
    <div class="footer-content">
      <span class="footer-info-dakar">DAKAR IMMOBILIER</span><br>
      <span class="footer-info">Le choix d’une BELLE MARQUE et d’un conseiller proche de vous</span><br>
      <div class="col-xs-6 col-sm-6 col-md-3 hv-1 hv">
        <span class="span-annonces">Nos Annonces Immobilières</span> <br><br>
        <span class="footer-services">Ventes</span> <br>
        <span class="footer-services">Locations</span> <br>
        <span class="footer-services">Locations Saisonnières</span> <br>
        <span class="footer-services">Programmes Neufs</span> <br>
        <span class="footer-services">Commerces</span> <br>
        <span class="footer-services">Prestige</span> <br>
        <span class="footer-services">Villas à Dakar</span> <br>
        <div class="clearfix"></div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 hv-4 hv">
        <span class="span-annonces">Le Réseau Immobilier</span><br><br>
        <span class="footer-services">Qui sommes-nous ? </span><br>
        <span class="footer-services">Nos conseillers indépendants </span><br>
        <span class="footer-services">Actualités </span><br>
        <span class="footer-services">Témoignages </span><br>
        <span class="footer-services">Votre avis nous intéresse</span><br>
        <span class="footer-services">Partenaires </span><br>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 hv-3 hv2">
        <span class="footer-services">Confiez son bien</span> <br>
        <span class="footer-services">à la location de vacances</span> <br>
        <span class="footer-services">Investir</span> <br>
        <span class="footer-services">Parrainez un ami</span> <br>
        <span class="footer-services">Lexique immobilier</span> <br>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 hv-2 hv">
        <span class="span-annonces" style="float: right">Nos Services</span><br><br><br>
        <span class="footer-services">Conciergerie</span> <br>
        <span class="footer-services">Acheter un bien</span> <br>
        <span class="footer-services">Vendre son bien</span> <br>
        <span class="footer-services">Estimer son bien</span> <br>
        <span class="footer-services">Louer un bien</span> <br>
        <span class="footer-services">Louer son bien</span> <br>
        <span class="footer-services">Faire gérer son bien</span> <br>
      </div>
    </div>
  </div>
</div>