<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            
        {% endblock %}
        {% include 'shared/user_portal/_header.html.twig' %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
   
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        
    </body>
    {% include 'shared/_footer.html.twig' %}
</html>
