<div id="flash">
	<a class="close" data-dismiss="alert">&#215;</a>
	<center>
		<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
      		<p class="alert alert-danger"><%= alert %></p>
      	<% end %>
	</center>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		setTimeout(function(){
			$('#flash').remove();
		}, 1000);
	})
</script>